################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Love-Counter-Website/.vs/Love-Counter-Website
/Love-Counter-Website/Love-Counter-Website/bin/Debug/net8.0
/Love-Counter-Website/Love-Counter-Website/obj
/Love-Counter-Website/.vs/ProjectEvaluation
/Love-Counter-Website/Love-Counter-Website/bin/Release/net8.0
/Love-Counter-Website/Love-Counter-Website/Properties/PublishProfiles
*.user
