@page "/"

<PageTitle>Lovenote - Octubre 11 / 2024</PageTitle>

<div style="text-align: center; padding: 10px;">

	<div class="names">
		<p>Hosni & Rocio</p>
	</div>

	<div class="counter">
		<_LoveCounter />
	</div>

	<video class="love-video" width="auto" height="480" controls autoplay loop muted>
		<source src="videos/love.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
</div>
